<div class="modal fade" id="js-delete-class" tabindex="-1" role="dialog"      aria-labelledby="delete-student" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-student-title">Deleting a student is permanent.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p>This action cannot be undone. This will permanently delete {{}} class.</p>
          <br>
          <p>Please type in the name of the class to confirm.</p>
          <div class="form-group">
            <label for="js-modal-delete-input" class="col-form-label">Class:</label>
            <textarea class="form-control" id="js-modal-delete-input"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>