{{!-- Here is the page where the modal partial lives. This modal's purpose will be to verify that the user actually intends
on deleting a class with all related data. The user will be required to type in the name of the class they wish to delete.
If, and only if, the name of the class matches the class 'delete' button which was clicked will that class actually be deleted.
--}}
<div class="modal fade" id="js-modal-delete-class" tabindex="-1" role="dialog" aria-labelledby="delete-class" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-class-title">Deleting a class is permanent.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p>This action cannot be undone. This will permanently delete {{../name}} class.</p>
          <p>Please type in the name of the class to confirm.</p>
          <div class="form-group">
            <label for="js-modal-delete-input" class="col-form-label">Class:</label>
            <input class="form-control" id="js-modal-delete-input"></input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>