<div class="modal fade" id="js-modal-task-assignment" tabindex="-1" role="dialog" aria-labelledby="assign-task" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="delete-student-title">Assign Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="js-form-task-assign">
          <div class="form-group">
            <label for="js-task-name" class="col-form-label">Task Name:</label>
            <input
              type="text"
              class="form-control"
              id="js-task-name"
              required
            >
            </input>
          </div>
          <div class="form-group">
            <label for="js-task-description" class="col-form-label">Task Description:</label>
            <textarea
              class="form-control"
              id="js-task-description"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <label for="js-task-timer-duration" class="col-form-label">Timer Minutes:</label>
            <input
              type="number"
              min="1"
              class="form-control"
              id="js-task-timer-duration"
              required
            >
            </input>
          </div>
          <div class="form-group">
            <label for="js-task-coin-value" class="col-form-label">Coin Value:</label>
            <input
              type="number"
              min="0"
              class="form-control"
              id="js-task-coin-value"
              required
            >
            </input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          id="js-form-button-submit"
          form="js-form-task-assign"
          type="submit"
          class="btn btn-outline-success"
        >
          Assign Tasks
        </button>
      </div>
    </div>
  </div>
</div>