<div
  class="modal fade"
  id="js-modal-add-class"
  tabindex="-1"
  role="dialog"
  aria-labelledby="add-class"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    role="document"
  >
    <div
      class="modal-content"
    >
      <div
        class="modal-header  bg-light"
      >
        <h5
          class="modal-title"
          id="add-class-title"
        >
          Add Class
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div
        class="modal-body"
      >
        <form
          id="js-form-class-add"
        >
          <div
            class="form-group"
          >
            <label
              for="js-modal-class-add-name"
              class="col-form-label"
            >
              Class Name:
            </label>
            <input
              class="form-control"
              id="js-modal-class-add-name"
            >
          </div>
        </form>
      </div>
      <div
        class="modal-footer"
      >
        <button
          form="js-form-class-add"
          type="submit"
          class="btn btn-outline-success my-2 my-sm-0"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>