<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand pomo-head-text text-success" href="#">
      <img class="pomo-logo-index mr-2" src="/images/pomo-02-01.png">
      POMO
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/teacher/dashboard">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Notifications
            <span class="badge badge-success ml-1">4</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            Store
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" id="js-teacher-logout" type="submit">
          Logout
        </button>
      </form>
    </div>
  </div>
</nav>