<div class="row mt-1">
    <a class="student-task-link" href="">Task</a>
    <a class="student-store-link" href="">Store</a>
    <div class="coin-align">
        <img class="pomo-logo-index" src="/images/coin-icon.png"/>
        {{coins}}
    </div>
</div>
