<div class="student-dashboard-left col-m-6">
  <section>
    <div class="focus-time">
      Time to focus!
    </div>
    <div>
      <img class="coins-img" src="/images/Student-Tableta.jpg" alt="Virtual coins">
    </div>
    <div class="student-dash-timer">
      <span id="js-timer-minutes">
      </span>
      :
      <span id="js-timer-seconds">
      </span>
    </div>
    <button id="js-timer-start" class="timer-start-btn text-align-center col-12">
      START!
    </button>
  </section>
</div>