<!DOCTYPE html>
<html>
  {{> head }}
  <body>
    {{> navigation }}
    <div
      class="container-fluid"
    >
      {{> header }}
      {{{ body }}}
      {{> footer}}
    </div>
     {{> script }}
  </body>
</html>
