<!DOCTYPE html>
<html>
  {{> head }}
  <body>
    {{> navigation }}
    <div class="container-fluid">
      {{> header }}
      {{{ body }}}
    </div>
     {{> footer}}
     {{> script }}
  </body>
</html>
