{{> navigationClassManage }}

<div class="container">
  <div class="row">
    <h1 class="mt-3 text-muted">Manage Class</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div class="card shadow">
        <div class="card-header">This Should Be The Class Name...How To Handlebars please?</div>
        <div class="card-body">
          <div class="mb-4">


            <table class="table table-striped">

              <thead>
                <tr>
                  <th scope="col">Assign Task</th>
                  <th scope="col">Student Name</th>
                  <th scope="col">Student Id</th>
                  <th>Finished Task(s)</th>
                  <th scope="col">Coin Count</th>
                </tr>
              </thead>


              <tbody>
                <td class="checkbox">
                  <label></label>
                  <input type="checkbox" value="" data-add='student' id='js-select-all'>
                </td>
                <th scope="row">Mark A.</th>
                <td>A13421</td>
                <td>Yes</td>
                <td>25
                  <button type="button" class="btn btn-outline-warning ml-1" data-toggle="" data-target="" data-delete="class">
                    <i class="fas fa-plus"></i>
                  </button>
                </td>
                </tr>

                <tr>
                  <td class="checkbox">
                    <label></label>
                    <input type="checkbox" value="" data-add='student' id='js-select-all'>
                  </td>
                  <th scope="row">Jacob B.</th>
                  <td>B43567</td>
                  <td>No</td>
                  <td>20
                    <button type="button" class="btn btn-outline-warning ml-1" data-toggle="" data-target="" data-delete="class">
                      <i class="fas fa-plus"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>


            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text" id="">Add Student Name</span>
              </div>
              <input type="text" class="form-control">
              <div class="input-group-prepend">
                <span class="input-group-text" id="">Add Student Id</span>
              </div>
              <input type="text" class="form-control">
            </div>


            <span>
              <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#js-modal-task-assignment" data-delete="class">
                ADD TASKS
              </button>
            </span>
            {{>modalAssignTasks}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>