{{!-- (day to day management of student tasks)
Here is the page where the teacher will be able to:
  1) Set/edit task names for each student
  2) Set/edit coin values for each student
  3) See if 'done' status for task completion of each student
  4) See time remaining for each student
  4) Award coins to each student
--}}



{{!-- this button will toggle modal too add tasks --}}
<span>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#js-modal-task-assignment" data-delete="class"></button>  
</span>
