{{!-- (rare access to edit class data)
Here is the page where the teacher will be able to:
  1) Create a new class
  2) Add students to the class
  3) Remove students from the class
--}}




{{!-- this button will toggle the modal to delete student --}}
<span>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#js-delete-student" data-delete="class"></button>  
</span>