<!-- Header with Background Image -->
<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-3 text-center text-white mt-4">Business Name or Tagline</h1>
      </div>
    </div>
  </div>
</header>

<section class="banner-area relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen justify-content-center align-items-center">
      <div class="col-lg-8">
        <div class="banner-content text-center">
          <p class="text-uppercase text-white">We work hard, we result perfect</p>
          <h1 class="text-uppercase text-white">Crafting Digital Agency Experiences</h1>
          <a href="#" class="primary-btn banner-btn">Explore Us</a>
        </div>
      </div>
    </div>
  </div>
</section>