<h1>
  POMO
</h1>
<h2>
  A classroom tool for teachers
</h2>

<div>
  <h3>
    Teachers:
  </h3>
  <a
    href="/teacher/login"
  >
    Login
  </a>
  <a
    href="/teacher/signup"
  >
    Sign up
  </a>
</div>

<div>
  <h3>
    Students:
  </h3>
  <a
    href="/student/login"
  >
    Login
  </a>
</div>