<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/circlebars@1.0.3/dist/circle.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/circlebars@1.0.3/dist/skins/whitecircle.css">

    
  </head>
  <body>
    <div class="container-fluid">
      {{> navigation }}
      {{> header }}
      {{{ body }}}
      {{> footer}}
    </div>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="https://unpkg.com/circlebars@1.0.3/dist/circle.js"></script>
  </body>
</html>
