<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />    
  </head>
  <body>
    <div class="container-fluid">
      {{> navigation }}
      {{> header }}
      {{{ body }}}
      {{> footer}}
    </div>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
