{{> studentDashboardHeader }}

<section>
  <h2>
    Time to focus!
  </h2>
  <div>
    <img
      src=""
      alt="Virtual coins"
    >
  </div>
  <div>
    <span
      id="js-timer-minutes"
    >
    </span>
    :
    <span
      id="js-timer-seconds"
    >
    </span>
  </div>
</section>

<section>
  <h1>
    Task
  </h1>
  {{#if tasks}}
    <ul>
      {{#each tasks}}
        <li>
          {{name}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
  <button>
    Done!
  </button>
</section>