<div class="row">
  {{> studentDashboardHeader }}
</div>

{{!--
Backend will send in a `Tasks` object to .hbs that looks like this:
{
  uuid: asdfj34afk-hfjdgj-342432, // uuid for the task
  name: 'Math homework',
  timer_duration: 300, // 5 minutes ( unit = seconds )
  start_time: null, // or unix time ( ex. `1525881562712` )
  is_done: false, // backend will intentionally not send in tasks that are already done
  coin_value: 3,
  student_uuid: zxcvbnm34afk-hfjdgj-342432 // uuid for the student
}
--}}

<div class="student-dashboard-dash" id="container">
  <div class="row">
    <div class="student-dashboard-left col-m-6">
      <section>

        <div class="focus-time">
          Time to focus!
        </div>

        <div>
          <img class="coins-img" src="/images/Student-Tableta.jpg" alt="Virtual coins">
        </div>

        <div class="student-dash-timer">
          <span id="js-timer-minutes">
          </span>
          25:00
          <span id="js-timer-seconds">
          </span>
        </div>

        <button class="timer-start-btn text-align-center col-12">
          START!
        </button>
      </section>
    </div>

    <section>
      <div class="student-dashboard-right col-m-6">
        <div class="task-title">
          Task
        </div>
        
        <ul>
          Do your homework!
          <li>
            Geography.
          </li>
          <li>
            History.
          </li>
          <li>
            Mafs
          </li>
        </ul>


        <ul>
          Do your homework!
          <li>
            Geography.
          </li>
          <li>
            History.
          </li>
          <li>
            Mafs
          </li>
        </ul>
        {{!--
        <div class="list">
          {{#if tasks}}
          <ul>
            {{#each tasks}}
            <li>
              {{name}}
            </li>
            {{/each}}
          </ul>
          {{/if}}
        </div> --}}
        <button class="task-done-btn text-align-center col-12">
          DONE!
        </button>
      </div>
    </section>
  </div>
</div>