<div
  id="login-wood-panel"
  class="container"
>
  <h1
    class="student-login-title"
  >
    POMO
  </h1>
  <h2
    class="student-login-login"
  >
    Login
  </h2>
  <form
    class="student-login-form"
    id="js-form-student-login"
  >
    <div
      class="form-group student-label-bg"
    >
      <label
        for="js-student-username"
        hidden="true"
      >
        Login Id
      </label>
      <input
        type="text"
        class="form-control student-label-bg"
        id="js-student-username"
        aria-describedby="usernameHelp"
        placeholder="Login Id"
        required
      >
    </div>
    <div
      class="form-group student-label-bg"
    >
      <label 
        for="js-student-password"
        hidden="true"
      >
        Password
      </label>
      <input
        type="password"
        class="form-control student-label-bg"
        id="js-student-password"
        placeholder="Password"
        required
      >
    </div>
    <button
      type="submit"
      class="kids-login-btn"
    >
      LOGIN!
    </button>
  </form>
</div>