<h1>POMO</h1>
  <h2>Login</h2>
  <form id="js-form-login wood-panel">
    
    <div class="form-group label-bg">
      <label for="js-username" hidden="true">
        Username
      </label>
      <input type="text" class="form-control label-bg" id="js-username" aria-describedby="usernameHelp" placeholder="Username" required>
    </div>
    <div class="form-group label-bg">
      <label for="js-password" hidden="true">
        Password
      </label>
      <input type="password" class="form-control label-bg" id="js-password" placeholder="Password" required>
    </div>
    <button type="submit" class="kids-login-btn">
      LOGIN!
    </button>
  </form>
