<h1>Sign Up</h1>
<form id="js-form-signup">
  <div class="form-group">
    <label for="js-email" hidden="true">
      Email address
    </label>
    <input type="email" class="form-control" id="js-email" aria-describedby="emailHelp" placeholder="Email" required>
  </div>
  <div class="form-group">
    <label for="js-password" hidden="true">
      Password
    </label>
    <input type="password" class="form-control" id="js-password" placeholder="Password" minlength="12" maxlength="24" title="password length must be between 12 and 24 characters"
      required>
  </div>
  <button type="submit" class="btn btn-primary">
    Create
  </button>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>