<h1>
  Teacher Dashboard
</h1>
<div>
  Click
  <a href='' class="add-class">
    HERE
  </a>
  to add a new class
</div>
{{#if classes}}
  {{#each classes}}
      <div class="card">
        <a href='#'>
          <div class="card-body">
            {{name}}    
          </div>
        </a>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#js-delete-class"
          data-delete="class"
          data-id="{{uuid}}"
          data-name="{{name}}"
          class="glyphicon"
        >
          &#xe020; 
          Delete
        </button>
      </div>
  {{/each}}
{{/if}}

{{>modalDeleteClass this}}
{{>modalAddClass}}
