{{!-- 
Here is the page where the teacher will be able to:
  1) Click a button which will link to the classEdit.hbs page
  2) See a list of classes which link to the classManage.hbs page
  3) Have a button that can delete a class (with modal delete verification)
--}}

{{!-- this button will toggle modal for deleting class--should be next to all classes listed --}}
<span>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#js-delete-class" data-delete="class"></button>  
</span>